services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    image: tusharnagar/task-backend:latest
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    image: tusharnagar/task-frontend:latest
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  postgres_data:
