/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: white;
  border-bottom: 1px solid #eee;
}

.dark .navbar {
  background: #1f1f1f;
  border-color: #333;
}

.nav-left {
  font-weight: bold;
  font-size: 18px;
}

.nav-center {
  display: flex;
  gap: 30px;
}

.nav-center a {
  text-decoration: none;
  font-weight: 500;
}

.nav-right {
  display: flex;
  gap: 12px;
}

/* Page spacing */
.page-container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}


/* Card UI */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.dark .card {
  background: #2b2b2b;
  color: white;
}

/* Buttons */
.secondary {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
